*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 16px;
	color: #ffffff;
	background-color: #336699;
}

.map-canvas {
	height: 400px;
}

div.form {
	margin-bottom: 16px;
}

.input-label {
	width: 80px;
	text-align: right;
	margin-right: 8px;
}

.form-sepa {
	margin: 12px 0px 12px 80px;
}

.content {
	width: 600px;
}

.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

